/* general */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(231, 217, 249);
}

main {
  margin-top: 8em;
  margin-left: 15em;
  margin-right: 15em;
  color: rgb(100, 118, 239);
  font-family: Raleway;
}

/* navbar */

/* left nav */
.navbar {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 8em;
  gap: 1em;

  color: rgb(231, 217, 249);
  background-color: rgb(100, 118, 239);
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;

  z-index: 1;

  padding: 3em;
}

.sort-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(231, 217, 249);
  font-family: Raleway;
  font-size: 15px;
  text-transform: uppercase;
}

.sort-button-container {
  border: 1px solid pink;
}

/* center nav */

.center-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* right nav  */

.search-input {
  all: unset;
  background-color: rgb(125, 136, 255);
  color: rgb(100, 118, 239);
  border-radius: 1em;
  text-align: center;
  padding: 3px;
}

::placeholder {
  color: rgb(231, 217, 249);
  opacity: 1; /* Firefox */
  text-align: center;
  padding-left: 15px;
}

.search-button {
  all: unset;
  color: rgb(231, 217, 249);
  background-color: rgb(100, 118, 239);
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

/* cards */

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 3em;
  margin-bottom: 10em;
  margin-top: 10em;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  width: 300px;
  height: 400px;
  background-color: rgb(208, 208, 250);
  border-radius: 2em;

  padding-top: 2em;
  padding-bottom: 2em;
}

/* card nav */

.card-nav {
  display: flex;
  gap: 2em;
}

.book-language {
  /* position: absolute; */
  /* background-color: rgb(231, 217, 249); */

  border-radius: 8px;
  font-weight: 600px;
  font-size: 15px;
  text-transform: uppercase;
  max-width: 70px;
  /* margin-right: 13em; */
}

.fav-book-heart-button {
  /* position: absolute; */

  border-radius: 8px;
  font-weight: 800px;
  font-size: 15px;
  text-transform: uppercase;
  max-width: 70px;
  /* margin-left: 13em; */
}

/* card body */

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-image {
  max-width: 100px;
}

.book-title {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
  padding-left: 1em;
  padding-right: 1em;
}

.book-author {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.book-genre {
  font-weight: 600;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
}

.toggle-topics {
  all: unset;

  color: rgb(100, 118, 239);
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
}
