/* general */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(231, 217, 249);
}

main {
  margin-top: 8em;
  margin-left: 15em;
  margin-right: 15em;
  color: rgb(100, 118, 239);
  font-family: Raleway;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ------------------------- */

/* navbar */

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 8em;
  z-index: 1;
  padding: 3em;

  color: rgb(231, 217, 249);
  background-color: rgb(100, 118, 239);
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.add-book {
  display: flex;
  flex-direction: column;
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(231, 217, 249);
  /* background-color: rgb(100, 118, 239);
  border-radius: 1em; */
  padding-bottom: 1em;
}

.add-title-input,
.add-author-input,
.add-language-input,
.add-topics-input {
  all: unset;
  margin-right: 0.5em;
  padding: 0.5em;
  margin: 1em;
  color: #fff5fa;
  background-color: rgb(125, 136, 255);
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;

  border-radius: 1em;
}

.add-book-button {
  all: unset;
  color: rgb(100, 118, 239);
  /* background-color: rgb(100, 118, 239); */
  background-color: rgb(208, 208, 250);
  border-radius: 1em;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  margin: 1em;

  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

/* left nav / sort */

.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sort-button {
  color: rgb(231, 217, 249);
  font-family: Raleway;
  font-size: 15px;
  text-transform: uppercase;
}

.material-symbols-outlined {
  color: rgb(231, 217, 249);
}

.sort-dropdown {
  margin-left: 15px;
  padding: 0.5em;
  border-radius: 1em;
  text-align: center;

  color: rgb(231, 217, 249);
  background-color: rgb(125, 136, 255);
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

/* center nav / favorite books count */

.center-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* right nav / search  */
.search {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.search-input {
  all: unset;
  margin-right: 0.5em;
  padding: 0.5em;
  margin-left: 15px;

  background-color: rgb(125, 136, 255);
  color: rgb(231, 217, 249);
  text-align: center;
  border-radius: 1em;
}

::placeholder {
  color: rgb(231, 217, 249);
  text-align: center;
  /* padding-left: 15px; */
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.search-button {
  all: unset;

  color: rgb(231, 217, 249);
  background-color: rgb(100, 118, 239);
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

/* ------------------------- */

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 8em;
  padding-left: 1em;
}

.left-nav {
  display: flex;
  position: fixed;
  left: 15em;

  flex-direction: column;
  /* background-color: red; */
  /* background-color: rgb(100, 118, 239); */
  text-align: center;
  gap: 1em;
  /* background-color: rgb(230, 230, 249); */
  border-radius: 1em;
  margin-top: 4em;
  margin-bottom: 4em;
  flex: 1;
  width: 300px;
  /* max-width: 300px; */
  height: 70%;
  background-color: rgb(100, 118, 239);
  border-radius: 1em;
}

/* book cards */

.book-list {
  display: flex;
  position: relative;
  left: 35em;
  /* position: fixed; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 3em;
  margin-bottom: 10em;
  margin-top: 4em;
  margin-left: 3em;
  padding-right: 3em;
  flex: 3;
}

.book-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 320px;
  background-color: rgb(208, 208, 250);
  border-radius: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* book card nav */

.card-nav {
  display: flex;
  gap: 2em;
}

.book-language {
  max-width: 70px;
  border-radius: 8px;
  font-weight: 600px;
  font-size: 15px;
  text-transform: uppercase;
}

.toggle-topics {
  all: unset;

  color: rgb(100, 118, 239);
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
}

.fav-book-heart-button {
  max-width: 70px;
  border-radius: 8px;
  font-weight: 800px;
  font-size: 15px;
  text-transform: uppercase;
}

/* book card body */

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-image {
  max-width: 200px;
}

.book-title {
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 1em;

  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.book-author {
  padding-left: 30px;
  padding-right: 1em;

  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.book-genre {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;

  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

/* pages */

.lorem-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  color: rgb(100, 118, 239);
  background-color: rgb(230, 230, 249);
  border-radius: 1em;
  width: 800px;
  height: 300px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin: 8em;
}

.navigation-title {
  padding-left: 2em;
}
.lorem-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
