* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(231, 217, 249);
}

main {
  margin-top: 8em;
  margin-left: 15em;
  margin-right: 15em;
  color: rgb(100, 118, 239);
  font-family: Raleway;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 7em;
  gap: 1em;

  color: rgb(231, 217, 249);
  background-color: rgb(100, 118, 239);
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;

  z-index: 1;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 5em;
  margin-bottom: 10em;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  height: 462.5;
  background-color: rgb(208, 208, 250);
  border-radius: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.book-title {
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 2em;
}

.book-image {
  max-width: 200px;
}

.book-author {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.book-genre {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  align-items: center;
}

.book-language {
  position: absolute;
  background-color: rgb(231, 217, 249);
  padding: 5px 7px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  max-width: 70px;
  margin-left: 16em;
  margin-top: 0em;
}

.add-book {
  display: flex;
  justify-content: center;
}
